# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
import numpy as np
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files("./data")

In [5]:
# tim.o.> get song data files
for f in get_files("./data/song_data"):
    print(f)

/home/workspace/data/song_data/A/B/B/TRABBLU128F93349CF.json
/home/workspace/data/song_data/A/B/B/TRABBOR128F4286200.json
/home/workspace/data/song_data/A/B/B/TRABBOP128F931B50D.json
/home/workspace/data/song_data/A/B/B/TRABBNP128F932546F.json
/home/workspace/data/song_data/A/B/B/TRABBXU128F92FEF48.json
/home/workspace/data/song_data/A/B/B/TRABBTA128F933D304.json
/home/workspace/data/song_data/A/B/B/TRABBKX128F4285205.json
/home/workspace/data/song_data/A/B/B/TRABBAM128F429D223.json
/home/workspace/data/song_data/A/B/B/TRABBVJ128F92F7EAA.json
/home/workspace/data/song_data/A/B/B/TRABBJE12903CDB442.json
/home/workspace/data/song_data/A/B/B/TRABBBV128F42967D7.json
/home/workspace/data/song_data/A/B/B/TRABBZN12903CD9297.json
/home/workspace/data/song_data/A/B/C/TRABCYE128F934CE1D.json
/home/workspace/data/song_data/A/B/C/TRABCRU128F423F449.json
/home/workspace/data/song_data/A/B/C/TRABCEC128F426456E.json
/home/workspace/data/song_data/A/B/C/TRABCTK128F934B224.json
/home/workspace/data/song_data/A/B/C/TRABCKL128F423A778.json
/home/workspace/data/song_data/A/B/C/TRABCPZ128F4275C32.json
/home/workspace/data/song_data/A/B/C/TRABCAJ12903CDFCC2.json
/home/workspace/data/song_data/A/B/C/TRABCXB128F4286BD3.json
/home/workspace/data/song_data/A/B/C/TRABCIX128F4265903.json
/home/workspace/data/song_data/A/B/C/TRABCEI128F424C983.json
/home/workspace/data/song_data/A/B/C/TRABCUQ128E0783E2B.json
/home/workspace/data/song_data/A/B/C/TRABCFL128F149BB0D.json
/home/workspace/data/song_data/A/B/A/TRABAXV128F92F6AE3.json
/home/workspace/data/song_data/A/B/A/TRABAFP128F931E9A1.json
/home/workspace/data/song_data/A/B/A/TRABAIO128F42938F9.json
/home/workspace/data/song_data/A/B/A/TRABAXR128F426515F.json
/home/workspace/data/song_data/A/B/A/TRABAVQ12903CBF7E0.json
/home/workspace/data/song_data/A/B/A/TRABACN128F425B784.json
/home/workspace/data/song_data/A/B/A/TRABAXL128F424FC50.json
/home/workspace/data/song_data/A/B/A/TRABAWW128F4250A31.json
/home/workspace/data/song_data/A/B/A/TRABAFJ128F42AF24E.json
/home/workspace/data/song_data/A/B/A/TRABATO128F42627E9.json
/home/workspace/data/song_data/A/B/A/TRABAZH128F930419A.json
/home/workspace/data/song_data/A/A/B/TRAABYW128F4244559.json
/home/workspace/data/song_data/A/A/B/TRAABYN12903CFD305.json
/home/workspace/data/song_data/A/A/B/TRAABJV128F1460C49.json
/home/workspace/data/song_data/A/A/B/TRAABVM128F92CA9DC.json
/home/workspace/data/song_data/A/A/B/TRAABNV128F425CEE1.json
/home/workspace/data/song_data/A/A/B/TRAABDL12903CAABBA.json
/home/workspace/data/song_data/A/A/B/TRAABJL12903CDCF1A.json
/home/workspace/data/song_data/A/A/B/TRAABLR128F423B7E3.json
/home/workspace/data/song_data/A/A/B/TRAABRB128F9306DD5.json
/home/workspace/data/song_data/A/A/B/TRAABXG128F9318EBD.json
/home/workspace/data/song_data/A/A/B/TRAABCL128F4286650.json
/home/workspace/data/song_data/A/A/C/TRAACER128F4290F96.json
/home/workspace/data/song_data/A/A/C/TRAACLV128F427E123.json
/home/workspace/data/song_data/A/A/C/TRAACTB12903CAAF15.json
/home/workspace/data/song_data/A/A/C/TRAACIW12903CC0F6D.json
/home/workspace/data/song_data/A/A/C/TRAACCG128F92E8A55.json
/home/workspace/data/song_data/A/A/C/TRAACPE128F421C1B9.json
/home/workspace/data/song_data/A/A/C/TRAACOW128F933E35F.json
/home/workspace/data/song_data/A/A/C/TRAACVS128E078BE39.json
/home/workspace/data/song_data/A/A/C/TRAACZK128F4243829.json
/home/workspace/data/song_data/A/A/C/TRAACSL128F93462F4.json
/home/workspace/data/song_data/A/A/C/TRAACHN128F1489601.json
/home/workspace/data/song_data/A/A/C/TRAACQT128F9331780.json
/home/workspace/data/song_data/A/A/C/TRAACFV128F935E50B.json
/home/workspace/data/song_data/A/A/C/TRAACNS128F14A2DF5.json
/home/workspace/data/song_data/A/A/A/TRAAAMQ128F1460CD3.json
/home/workspace/data/song_data/A/A/A/TRAAAFD128F92F423A.json
/home/workspace/data/song_data/A/A/A/TRAAADZ128F9348C2E.json
/home/workspace/data/song_data/A/A/A/TRAAAVG12903CFA543.json
/home/workspace/data/song_data/A/A/A/TRAAAAW128F429D538.json
/home/workspace/data/song_data/A/A/A/TRAAAPK128E0786D96.json
/home/workspace/data/song_data/A/A/A/TRAAARJ128F9320760.json
/home/workspace/data/song_data/A/A/A/TRAAAEF128F4273421.json
/home/workspace/data/song_data/A/A/A/TRAAAMO128F1481E7F.json
/home/workspace/data/song_data/A/A/A/TRAAABD128F429CF47.json
/home/workspace/data/song_data/A/A/A/TRAAAVO128F93133D4.json

In [6]:
filepath = song_files[0]

In [7]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARNNKDK1187B98BBD5,45.80726,Zagreb Croatia,15.9676,Jinx,407.37914,1,SOFNOQK12AB01840FC,Kutt Free (DJ Volume Remix),0

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [8]:
song_data = df.iloc[0][['song_id','title','artist_id','year','duration']].values
song_data=list(song_data)
print(song_data)
song_data[3] = song_data[3].astype(int)
song_data[4] = song_data[4].astype(float)
print(type(song_data[0]))
print(type(song_data[1]))
print(type(song_data[2]))
print(type(song_data[3]))
print(type(song_data[4]))
print(type(song_data))

['SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)', 'ARNNKDK1187B98BBD5', 0, 407.37914000000001]
<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'list'>

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute("Select * FROM songs LIMIT 1")
colnames = [desc[0] for desc in cur.description]
print(colnames)

cur.execute(song_table_insert, np.asarray(song_data))
conn.commit()

['song_id', 'title', 'artist_id', 'year', 'duration']

In [10]:
cur.execute("Select * FROM songs LIMIT 0")
colnames = [desc[0] for desc in cur.description]
print(colnames)
cur.execute(song_table_insert, ['SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)', 'ARNNKDK1187B98BBD5', 0, 407.37914000000001])
conn.commit()

['song_id', 'title', 'artist_id', 'year', 'duration']

In [10]:
print(song_data)

['SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)', 'ARNNKDK1187B98BBD5', 0, 407.37914000000001]

In [11]:
#psycopg2.extensions.register_type(psycopg2.extensions.UNICODE)
#psycopg2.extensions.register_type(psycopg2.extensions.UNICODEARRAY)

cur.execute(song_table_insert, np.asarray(song_data))
conn.commit()

In [8]:
mysongs = df[['song_id','title','artist_id','year','duration']]
mysongs.head()

,song_id,title,artist_id,year,duration
0,SOFNOQK12AB01840FC,Kutt Free (DJ Volume Remix),ARNNKDK1187B98BBD5,0,407.37914

In [6]:
#
# scans all songs data in ./data/song_data
# insert song records to songs table
#
#for fpath in get_files("./data/song_data"):
for fpath in get_files("./data/song_data"):
    print('processing ',fpath)
    
    mysongs = pd.read_json(fpath, lines=True)   
    for i, row in mysongs.iterrows():
        prow = row[['song_id','title','artist_id','year','duration']]
        print(list(prow))
        # try-catch block or with 
        cur.execute(song_table_insert, list(prow))
        conn.commit()

processing  /home/workspace/data/song_data/A/B/B/TRABBLU128F93349CF.json
['SOFNOQK12AB01840FC', 'Kutt Free (DJ Volume Remix)', 'ARNNKDK1187B98BBD5', 0, 407.37914]
processing  /home/workspace/data/song_data/A/B/B/TRABBOR128F4286200.json
['SOBAYLL12A8C138AF9', 'Sono andati? Fingevo di dormire', 'ARDR4AC1187FB371A1', 0, 511.16363]
processing  /home/workspace/data/song_data/A/B/B/TRABBOP128F931B50D.json
['SOFFKZS12AB017F194', 'A Higher Place (Album Version)', 'ARBEBBY1187B9B43DB', 1994, 236.17261]
processing  /home/workspace/data/song_data/A/B/B/TRABBNP128F932546F.json
['SOGVQGJ12AB017F169', 'Ten Tonne', 'AR62SOJ1187FB47BB5', 2005, 337.68444]
processing  /home/workspace/data/song_data/A/B/B/TRABBXU128F92FEF48.json
['SOXILUQ12A58A7C72A', 'Jenny Take a Ride', 'ARP6N5A1187B99D1A3', 2004, 207.43791]
processing  /home/workspace/data/song_data/A/B/B/TRABBTA128F933D304.json
['SOLEYHO12AB0188A85', 'Got My Mojo Workin', 'ARAGB2O1187FB3A161', 0, 338.23302]
processing  /home/workspace/data/song_data/A/B/B/TRABBKX128F4285205.json
['SOBKWDJ12A8C13B2F3', 'Wild Rose (Back 2 Basics Mix)', 'AR36F9J1187FB406F1', 0, 230.71302]
processing  /home/workspace/data/song_data/A/B/B/TRABBAM128F429D223.json
['SOOJPRH12A8C141995', 'Loaded Like A Gun', 'ARBGXIG122988F409D', 0, 173.19138]
processing  /home/workspace/data/song_data/A/B/B/TRABBVJ128F92F7EAA.json
['SOPEGZN12AB0181B3D', 'Get Your Head Stuck On Your Neck', 'AREDL271187FB40F44', 0, 45.66159]
processing  /home/workspace/data/song_data/A/B/B/TRABBJE12903CDB442.json
['SOQOTLQ12AB01868D0', 'Clementina Santafè', 'ARGCY1Y1187B9A4FA5', 0, 153.33832]
processing  /home/workspace/data/song_data/A/B/B/TRABBBV128F42967D7.json
['SOBCOSW12A8C13D398', 'Rumba De Barcelona', 'AR7SMBG1187B9B9066', 0, 218.38322]
processing  /home/workspace/data/song_data/A/B/B/TRABBZN12903CD9297.json
['SOTCKKY12AB018A141', 'Sonnerie lalaleulé hi houuu', 'ARGSAFR1269FB35070', 0, 29.54404]
processing  /home/workspace/data/song_data/A/B/C/TRABCYE128F934CE1D.json
['SOFCHDR12AB01866EF', 'Living Hell', 'AREVWGE1187B9B890A', 0, 282.43546]
processing  /home/workspace/data/song_data/A/B/C/TRABCRU128F423F449.json
['SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', 2008, 149.86404]
processing  /home/workspace/data/song_data/A/B/C/TRABCEC128F426456E.json
['SONSKXP12A8C13A2C9', 'Native Soul', 'AR0IAWL1187B9A96D0', 2003, 197.19791]
processing  /home/workspace/data/song_data/A/B/C/TRABCTK128F934B224.json
['SOGDBUF12A8C140FAA', 'Intro', 'AR558FS1187FB45658', 2003, 75.67628]
processing  /home/workspace/data/song_data/A/B/C/TRABCKL128F423A778.json
['SOWQTQZ12A58A7B63E', 'Streets On Fire (Explicit Album Version)', 'ARPFHN61187FB575F6', 0, 279.97995]
processing  /home/workspace/data/song_data/A/B/C/TRABCPZ128F4275C32.json
['SOLYIBD12A8C135045', 'Music is what we love', 'AR051KA1187B98B2FF', 0, 261.51138]
processing  /home/workspace/data/song_data/A/B/C/TRABCAJ12903CDFCC2.json
['SOSWKAV12AB018FC91', 'Midnight Star', 'ARULZCI1241B9C8611', 0, 335.51628]
processing  /home/workspace/data/song_data/A/B/C/TRABCXB128F4286BD3.json
['SODAUVL12A8C13D184', 'Prognosis', 'ARWB3G61187FB49404', 2000, 363.85914]
processing  /home/workspace/data/song_data/A/B/C/TRABCIX128F4265903.json
['SONWXQJ12A8C134D94', 'The Ballad Of Sleeping Beauty', 'ARNF6401187FB57032', 1994, 305.162]
processing  /home/workspace/data/song_data/A/B/C/TRABCEI128F424C983.json
['SOUPIRU12A6D4FA1E1', 'Der Kleine Dompfaff', 'ARJIE2Y1187B994AB7', 0, 152.92036]
processing  /home/workspace/data/song_data/A/B/C/TRABCUQ128E0783E2B.json
['SORRZGD12A6310DBC3', 'Harajuku Girls', 'ARVBRGZ1187FB4675A', 2004, 290.55955]
processing  /home/workspace/data/song_data/A/B/C/TRABCFL128F149BB0D.json
['SODREIN12A58A7F2E5', 'A Whiter Shade Of Pale (Live @ Fillmore West)', 'ARLTWXK1187FB5A3F8', 0, 326.00771]
processing  /home/workspace/data/song_data/A/B/A/TRABAXV128F92F6AE3.json
['SOBBXLX12A58A79DDA', 'Erica (2005 Digital Remaster)', 'AREDBBQ1187B98AFF5', 0, 138.63138]
processing  /home/workspace/data/song_data/A/B/A/TRABAFP128F931E9A1.json
['SOAOIBZ12AB01815BE', 'I Hold Your Hand In Mine [Live At Royal Albert Hall]', 'ARPBNLO1187FB3D52F', 2000, 43.36281]
processing  /home/workspace/data/song_data/A/B/A/TRABAIO128F42938F9.json
['SOZHPGD12A8C1394FE', 'Baby Come To Me', 'AR9AWNF1187B9AB0B4', 0, 236.93016]
processing  /home/workspace/data/song_data/A/B/A/TRABAXR128F426515F.json
['SODUJBS12A8C132150', 'Wessex Loses a Bride', 'ARI2JSK1187FB496EF', 0, 111.62077]
processing  /home/workspace/data/song_data/A/B/A/TRABAVQ12903CBF7E0.json
['SOTTDKS12AB018D69B', 'It Wont Be Christmas', 'ARMBR4Y1187B9990EB', 0, 241.47546]
processing  /home/workspace/data/song_data/A/B/A/TRABACN128F425B784.json
['SOQLGFP12A58A7800E', 'OAKtown', 'ARD7TVE1187B99BFB1', 0, 259.44771]
processing  /home/workspace/data/song_data/A/B/A/TRABAXL128F424FC50.json
['SOQVMXR12A81C21483', 'Salt In NYC', 'ARKULSX1187FB45F84', 0, 424.12363]
processing  /home/workspace/data/song_data/A/B/A/TRABAWW128F4250A31.json
['SOMVWWT12A58A7AE05', 'Knocked Out Of The Park', 'ARQ9BO41187FB5CF1F', 0, 183.17016]
processing  /home/workspace/data/song_data/A/B/A/TRABAFJ128F42AF24E.json
['SOPVXLX12A8C1402D5', 'Larger Than Life', 'AR3JMC51187B9AE49D', 1999, 236.25098]
processing  /home/workspace/data/song_data/A/B/A/TRABATO128F42627E9.json
['SOSLAVG12A8C13397F', 'Den Pai Alo', 'AROGWRA122988FEE45', 0, 243.82649]
processing  /home/workspace/data/song_data/A/B/A/TRABAZH128F930419A.json
['SOTUKVB12AB0181477', 'Blessed Assurance', 'AR7ZKHQ1187B98DD73', 1993, 270.602]
processing  /home/workspace/data/song_data/A/A/B/TRAABYW128F4244559.json
['SOBEBDG12A58A76D60', 'Kassie Jones', 'ARI3BMM1187FB4255E', 0, 220.78649]
processing  /home/workspace/data/song_data/A/A/B/TRAABYN12903CFD305.json
['SOWTBJW12AC468AC6E', 'Broken-Down Merry-Go-Round', 'ARQGYP71187FB44566', 0, 151.84934]
processing  /home/workspace/data/song_data/A/A/B/TRAABJV128F1460C49.json
['SOBONFF12A6D4F84D8', 'Tonight Will Be Alright', 'ARIK43K1187B9AE54C', 1986, 307.3824]
processing  /home/workspace/data/song_data/A/A/B/TRAABVM128F92CA9DC.json
['SOXLBJT12A8C140925', 'Caught In A Dream', 'ARYKCQI1187FB3B18F', 2004, 290.29832]
processing  /home/workspace/data/song_data/A/A/B/TRAABNV128F425CEE1.json
['SOUQQEA12A8C134B1B', 'High Tide', 'ARIG6O41187B988BDD', 0, 228.5971]
processing  /home/workspace/data/song_data/A/A/B/TRAABDL12903CAABBA.json
['SOMUYGI12AB0188633', 'La Culpa', 'ARL7K851187B99ACD2', 0, 226.35057]
processing  /home/workspace/data/song_data/A/A/B/TRAABJL12903CDCF1A.json
['SORAMLE12AB017C8B0', 'Auguri Cha Cha', 'ARHHO3O1187B989413', 0, 191.84281]
processing  /home/workspace/data/song_data/A/A/B/TRAABLR128F423B7E3.json
['SOHUOAP12A8AE488E9', 'Floating', 'ARD842G1187B997376', 1987, 491.12771]
processing  /home/workspace/data/song_data/A/A/B/TRAABRB128F9306DD5.json
['SOILPQQ12AB017E82A', 'Sohna Nee Sohna Data', 'AR1ZHYZ1187FB3C717', 0, 599.24853]
processing  /home/workspace/data/song_data/A/A/B/TRAABXG128F9318EBD.json
['SOZVMJI12AB01808AF', 'Synthetic Dream', 'ARNPAGP1241B9C7FD4', 0, 165.69424]
processing  /home/workspace/data/song_data/A/A/B/TRAABCL128F4286650.json
['SOKEJEJ12A8C13E0D0', 'The Urgency (LP Version)', 'ARC43071187B990240', 0, 245.21098]
processing  /home/workspace/data/song_data/A/A/C/TRAACER128F4290F96.json
['SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 'ARMAC4T1187FB3FA4C', 2004, 207.77751]
processing  /home/workspace/data/song_data/A/A/C/TRAACLV128F427E123.json
['SONYPOM12A8C13B2D7', 'I Think My Wife Is Running Around On Me (Taco Hell)', 'ARDNS031187B9924F0', 2005, 186.48771]
processing  /home/workspace/data/song_data/A/A/C/TRAACTB12903CAAF15.json
['SOGXHEG12AB018653E', 'It Makes No Difference Now', 'AR0RCMP1187FB3F427', 1992, 133.32853]
processing  /home/workspace/data/song_data/A/A/C/TRAACIW12903CC0F6D.json
['SOZQDIU12A58A7BCF6', 'Superconfidential', 'ARNTLGG11E2835DDB9', 0, 338.31138]
processing  /home/workspace/data/song_data/A/A/C/TRAACCG128F92E8A55.json
['SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0, 269.58322]
processing  /home/workspace/data/song_data/A/A/C/TRAACPE128F421C1B9.json
['SOGNCJP12A58A80271', 'Do You Finally Need A Friend', 'ARB29H41187B98F0EF', 1972, 342.56934]
processing  /home/workspace/data/song_data/A/A/C/TRAACOW128F933E35F.json
['SOVYKGO12AB0187199', 'Crazy Mixed Up World', 'ARH4Z031187B9A71F2', 1961, 156.39465]
processing  /home/workspace/data/song_data/A/A/C/TRAACVS128E078BE39.json
['SOOLYAZ12A6701F4A6', 'Laws Patrolling (Album Version)', 'AREBBGV1187FB523D2', 0, 173.66159]
processing  /home/workspace/data/song_data/A/A/C/TRAACZK128F4243829.json
['SOGOSOV12AF72A285E', '¿Dónde va Chichi?', 'ARGUVEV1187B98BA17', 1997, 313.12934]
processing  /home/workspace/data/song_data/A/A/C/TRAACSL128F93462F4.json
['SOYTPEP12AB0180E7B', 'Twist and Shout', 'ARAJPHH1187FB5566A', 1964, 164.80608]
processing  /home/workspace/data/song_data/A/A/C/TRAACHN128F1489601.json
['SOPSWQW12A6D4F8781', 'Made Like This (Live)', 'ARGIWFO1187B9B55B7', 0, 225.09669]
processing  /home/workspace/data/song_data/A/A/C/TRAACQT128F9331780.json
['SOLLHMX12AB01846DC', 'The Emperor Falls', 'AR1Y2PT1187FB5B9CE', 0, 484.62322]
processing  /home/workspace/data/song_data/A/A/C/TRAACFV128F935E50B.json
['SOBLGCN12AB0183212', 'James (Hold The Ladder Steady)', 'AR47JEX1187B995D81', 1985, 124.86485]
processing  /home/workspace/data/song_data/A/A/C/TRAACNS128F14A2DF5.json
['SOBZBAZ12A6D4F8742', 'Spanish Grease', 'AROUOZZ1187B9ABE51', 1997, 168.25424]
processing  /home/workspace/data/song_data/A/A/A/TRAAAMQ128F1460CD3.json
['SOMJBYD12A6D4F8557', 'Keepin It Real (Skit)', 'ARD0S291187B9B7BF5', 0, 114.78159]
processing  /home/workspace/data/song_data/A/A/A/TRAAAFD128F92F423A.json
['SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608]
processing  /home/workspace/data/song_data/A/A/A/TRAAADZ128F9348C2E.json
['SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', 0, 177.47546]
processing  /home/workspace/data/song_data/A/A/A/TRAAAVG12903CFA543.json
['SOUDSGM12AC9618304', 'Insatiable (Instrumental Version)', 'ARNTLGG11E2835DDB9', 0, 266.39628]
processing  /home/workspace/data/song_data/A/A/A/TRAAAAW128F429D538.json
['SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', 0, 218.93179]
processing  /home/workspace/data/song_data/A/A/A/TRAAAPK128E0786D96.json
['SOHKNRJ12A6701D1F8', 'Drop of Rain', 'AR10USD1187B99F3F1', 0, 189.57016]
processing  /home/workspace/data/song_data/A/A/A/TRAAARJ128F9320760.json
['SOIAZJW12AB01853F1', 'Pink World', 'AR8ZCNI1187B9A069B', 1984, 269.81832]
processing  /home/workspace/data/song_data/A/A/A/TRAAAEF128F4273421.json
['SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363]
processing  /home/workspace/data/song_data/A/A/A/TRAAAMO128F1481E7F.json
['SOYMRWW12A6D4FAB14', 'The Moon And I (Ordinary Day Album Version)', 'ARKFYS91187B98E58F', 0, 267.7024]
processing  /home/workspace/data/song_data/A/A/A/TRAAABD128F429CF47.json
['SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546]
processing  /home/workspace/data/song_data/A/A/A/TRAAAVO128F93133D4.json
['SOQHXMF12AB0182363', 'Young Boy Blues', 'ARGSJW91187B9B1D6B', 0, 218.77506]

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [10]:
artist_data =  df.iloc[0][['artist_id','artist_name','artist_location','artist_latitude','artist_longitude']].values
artist_data = list(artist_data)
artist_data

['ARNNKDK1187B98BBD5',
 'Jinx',
 'Zagreb Croatia',
 45.807259999999999,
 15.967600000000001]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, np.asarray(artist_data))
conn.commit()

In [9]:
#
# scans all songs data in ./data/song_data
# insert artist records to artists table
#
for fpath in get_files("./data/song_data"):
    print('processing ',fpath)
    
    mysongs = pd.read_json(fpath, lines=True)   
    for i, row in mysongs.iterrows():
        prow = row[['artist_id','artist_name','artist_location','artist_latitude','artist_longitude']]
        print(list(prow))
        # try-catch block or with 
        try:
            cur.execute(artist_table_insert, np.asarray(prow))
            conn.commit()
        except (Exception, psycopg2.Error) as error :
            if(conn):
                print("Failed to insert record into artist table", error)

processing  /home/workspace/data/song_data/A/B/B/TRABBLU128F93349CF.json
['ARNNKDK1187B98BBD5', 'Jinx', 'Zagreb Croatia', 45.80726, 15.967600000000001]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBOR128F4286200.json
['ARDR4AC1187FB371A1', 'Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBOP128F931B50D.json
['ARBEBBY1187B9B43DB', 'Tom Petty', 'Gainesville, FL', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBNP128F932546F.json
['AR62SOJ1187FB47BB5', 'Chase & Status', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBXU128F92FEF48.json
['ARP6N5A1187B99D1A3', 'Mitch Ryder', 'Hamtramck, MI', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBTA128F933D304.json
['ARAGB2O1187FB3A161', 'Pucho & His Latin Soul Brothers', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBKX128F4285205.json
['AR36F9J1187FB406F1', 'Bombay Rockers', 'Denmark', 56.27609, 9.51695]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBAM128F429D223.json
['ARBGXIG122988F409D', 'Steel Rain', 'California - SF', 37.77916, -122.42005]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBVJ128F92F7EAA.json
['AREDL271187FB40F44', 'Soul Mekanik', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBJE12903CDB442.json
['ARGCY1Y1187B9A4FA5', 'Gloriana', 'Nashville, TN.', 36.16778, -86.77836]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBBV128F42967D7.json
['AR7SMBG1187B9B9066', 'Los Manolos', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/B/TRABBZN12903CD9297.json
['ARGSAFR1269FB35070', 'Blingtones', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCYE128F934CE1D.json
['AREVWGE1187B9B890A', 'Bitter End', 'Noci (BA)', -13.442, -41.9952]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCRU128F423F449.json
['AR8IEZO1187B99055E', 'Marc Shaiman', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCEC128F426456E.json
['AR0IAWL1187B9A96D0', 'Danilo Perez', 'Panama', 8.4177, -80.11278]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCTK128F934B224.json
['AR558FS1187FB45658', '40 Grit', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCKL128F423A778.json
['ARPFHN61187FB575F6', 'Lupe Fiasco', 'Chicago, IL', 41.88415, -87.63241]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCPZ128F4275C32.json
['AR051KA1187B98B2FF', 'Wilks', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCAJ12903CDFCC2.json
['ARULZCI1241B9C8611', 'Luna Orbit Project', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCXB128F4286BD3.json
['ARWB3G61187FB49404', 'Steve Morse', 'Hamilton, Ohio', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCIX128F4265903.json
['ARNF6401187FB57032', 'Sophie B. Hawkins', 'New York, NY [Manhattan]', 40.79086, -73.96644]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCEI128F424C983.json
['ARJIE2Y1187B994AB7', 'Line Renaud', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCUQ128E0783E2B.json
['ARVBRGZ1187FB4675A', 'Gwen Stefani', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/C/TRABCFL128F149BB0D.json
['ARLTWXK1187FB5A3F8', 'King Curtis', 'Fort Worth, TX', 32.74863, -97.32925]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABAXV128F92F6AE3.json
['AREDBBQ1187B98AFF5', 'Eddie Calvert', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABAFP128F931E9A1.json
['ARPBNLO1187FB3D52F', 'Tiny Tim', 'New York, NY', 40.71455, -74.00712]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABAIO128F42938F9.json
['AR9AWNF1187B9AB0B4', 'Kenny G featuring Daryl Hall', 'Seattle, Washington USA', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABAXR128F426515F.json
['ARI2JSK1187FB496EF', 'Nick Ingman;Gavyn Wright', 'London, England', 51.50632, -0.12714]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABAVQ12903CBF7E0.json
['ARMBR4Y1187B9990EB', 'David Martin', 'California - SF', 37.77916, -122.42005]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABACN128F425B784.json
['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABAXL128F424FC50.json
['ARKULSX1187FB45F84', 'Trafik', 'Utah', 39.49974, -111.54732]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABAWW128F4250A31.json
['ARQ9BO41187FB5CF1F', 'John Davis', 'Pennsylvania', 40.99471, -77.60454]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABAFJ128F42AF24E.json
['AR3JMC51187B9AE49D', 'Backstreet Boys', 'Orlando, FL', 28.53823, -81.37739]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABATO128F42627E9.json
['AROGWRA122988FEE45', 'Christos Dantis', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/B/A/TRABAZH128F930419A.json
['AR7ZKHQ1187B98DD73', 'Glad', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABYW128F4244559.json
['ARI3BMM1187FB4255E', 'Alice Stuart', 'Washington', 38.8991, -77.029]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABYN12903CFD305.json
['ARQGYP71187FB44566', 'Jimmy Wakely', 'Mineola, AR', 34.31109, -94.02978]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABJV128F1460C49.json
['ARIK43K1187B9AE54C', 'Lionel Richie', 'Beverly Hills, CA', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABVM128F92CA9DC.json
['ARYKCQI1187FB3B18F', 'Tesla', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABNV128F425CEE1.json
['ARIG6O41187B988BDD', 'Richard Souther', 'United States', 37.16793, -95.84502]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABDL12903CAABBA.json
['ARL7K851187B99ACD2', 'Andy Andy', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABJL12903CDCF1A.json
['ARHHO3O1187B989413', 'Bob Azzam', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABLR128F423B7E3.json
['ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', 43.64856, -79.38533]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABRB128F9306DD5.json
['AR1ZHYZ1187FB3C717', 'Faiz Ali Faiz', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABXG128F9318EBD.json
['ARNPAGP1241B9C7FD4', 'lextrical', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/B/TRAABCL128F4286650.json
['ARC43071187B990240', 'Wayne Watson', 'Wisner, LA', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACER128F4290F96.json
['ARMAC4T1187FB3FA4C', 'The Dillinger Escape Plan', 'Morris Plains, NJ', 40.82624, -74.47995]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACLV128F427E123.json
['ARDNS031187B9924F0', 'Tim Wilson', 'Georgia', 32.67828, -83.22295]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACTB12903CAAF15.json
['AR0RCMP1187FB3F427', 'Billie Jo Spears', 'Beaumont, TX', 30.08615, -94.10158]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACIW12903CC0F6D.json
['ARNTLGG11E2835DDB9', 'Clp', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACCG128F92E8A55.json
['AR5KOSW1187FB35FF4', 'Elena', 'Dubai UAE', 49.80388, 15.47491]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACPE128F421C1B9.json
['ARB29H41187B98F0EF', 'Terry Callier', 'Chicago', 41.88415, -87.63241]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACOW128F933E35F.json
['ARH4Z031187B9A71F2', 'Faye Adams', 'Newark, NJ', 40.73197, -74.17418]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACVS128E078BE39.json
['AREBBGV1187FB523D2', "Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 'Houston, TX', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACZK128F4243829.json
['ARGUVEV1187B98BA17', 'Sierra Maestra', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACSL128F93462F4.json
['ARAJPHH1187FB5566A', 'The Shangri-Las', 'Queens, NY', 40.7038, -73.83168]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACHN128F1489601.json
['ARGIWFO1187B9B55B7', 'Five Bolt Main', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACQT128F9331780.json
['AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.94017, -82.32547]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACFV128F935E50B.json
['AR47JEX1187B995D81', 'SUE THOMPSON', 'Nevada, MO', 37.83721, -94.35868]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/C/TRAACNS128F14A2DF5.json
['AROUOZZ1187B9ABE51', 'Willie Bobo', 'New York, NY [Spanish Harlem]', 40.79195, -73.94512]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAAMQ128F1460CD3.json
['ARD0S291187B9B7BF5', 'Rated R', 'Ohio', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAAFD128F92F423A.json
['ARXR32B1187FB57099', 'Gob', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAADZ128F9348C2E.json
['ARKRRTF1187B9984DA', 'Sonora Santanera', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAAVG12903CFA543.json
['ARNTLGG11E2835DDB9', 'Clp', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAAAW128F429D538.json
['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAAPK128E0786D96.json
['AR10USD1187B99F3F1', 'Tweeterfriendly Music', 'Burlington, Ontario, Canada', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAARJ128F9320760.json
['AR8ZCNI1187B9A069B', 'Planet P Project', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAAEF128F4273421.json
['AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAAMO128F1481E7F.json
['ARKFYS91187B98E58F', 'Jeff And Sheri Easter', '', nan, nan]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAABD128F429CF47.json
['ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35.14968, -90.04892]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

processing  /home/workspace/data/song_data/A/A/A/TRAAAVO128F93133D4.json
['ARGSJW91187B9B1D6B', 'JennyAnyKind', 'North Carolina', 35.21962, -80.01955]
Failed to insert record into mobile table current transaction is aborted, commands ignored until end of transaction block

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [10]:
log_files = get_files("./data/log_data")

In [11]:
filepath = log_files[0]

#for f in log_files: 
#    print(f)

In [12]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [7]:
df = df[df['page']=='NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [8]:
print(df.shape)
print(df['ts'].shape)
df_test = df['ts']
print(df_test.shape)
print(df_test.index)
print(df.index)

(319, 18)
(319,)
(319,)
Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            355, 356, 357, 358, 359, 360, 362, 363, 364, 365],
           dtype='int64', length=319)
Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            355, 356, 357, 358, 359, 360, 362, 363, 364, 365],
           dtype='int64', length=319)

In [17]:
import datetime
# fromtimestamp does not handle millisecond, hence convert to seconds
# revise microsecond attribute by adding the milliseconds part of the original timestamp
t = df['ts'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000.0).replace(microsecond=1000*(x%1000)))
t.head()

0   2018-11-29 00:00:57.796
1   2018-11-29 00:01:30.796
2   2018-11-29 00:04:01.796
3   2018-11-29 00:04:55.796
4   2018-11-29 00:07:13.796
Name: ts, dtype: datetime64[ns]

In [21]:
# tim.o.
print(t.index)

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            355, 356, 357, 358, 359, 360, 362, 363, 364, 365],
           dtype='int64', length=319)

In [18]:
import numpy as np
#time_data = (t.apply(lambda x: [x.hour, x.day,int(x.day/7),x.month, x.year,x.weekday()]))
time_data = np.asarray([t.dt.hour, t.dt.day, 0,t.dt.month, t.dt.year, t.dt.weekday])
             
#print(time_data.shape)
#time_data = time_data.reshape((time_data.shape,6))
#time_data = np.asarray(time_data)
#print(time_data.shape)

#print(time_data)
#time_data = np.array([time_data[0], time_data[1]])
#print(time_data.shape)

column_labels = ('start_time','hour','day','week','month','year','weekday')
print(column_labels)
#print(t.dt.hour)
#print(type(t.dt.hour))

# tim.o.> get values from dt['ts'] and index from dt
df_tstamp = pd.DataFrame(data=df['ts'].values,index=df.index,columns=['start_time'])
#print(df_tstamp)

# tim.o.> use original index from t
df_hours = pd.DataFrame(data=np.asarray(t.dt.hour),index=t.index,columns=['hour'])
df_days = pd.DataFrame(data=np.asarray(t.dt.day),index=t.index,columns=['day'])
df_wofyear = pd.DataFrame(data=np.asarray(t.dt.day/7),index=t.index,columns=['week'])
df_month = pd.DataFrame(data=np.asarray(t.dt.month),index=t.index,columns=['month'])
df_year = pd.DataFrame(data=np.asarray(t.dt.year),index=t.index,columns=['year'])
df_weekday = pd.DataFrame(data=np.asarray(t.dt.weekday),index=t.index,columns=['weekday'])

dff = pd.concat([df_tstamp,df_hours, df_days,df_wofyear,df_month,df_year,df_weekday], join='outer', axis=1)
dff

('start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday')

        start_time  hour  day      week  month  year  weekday
0    1543449657796     0   29  4.142857     11  2018        3
1    1543449690796     0   29  4.142857     11  2018        3
2    1543449841796     0   29  4.142857     11  2018        3
3    1543449895796     0   29  4.142857     11  2018        3
4    1543450033796     0   29  4.142857     11  2018        3
5    1543450256796     0   29  4.142857     11  2018        3
6    1543450264796     0   29  4.142857     11  2018        3
7    1543450450796     0   29  4.142857     11  2018        3
8    1543450562796     0   29  4.142857     11  2018        3
9    1543450691796     0   29  4.142857     11  2018        3
10   1543450933796     0   29  4.142857     11  2018        3
11   1543451175796     0   29  4.142857     11  2018        3
12   1543451453796     0   29  4.142857     11  2018        3
13   1543451707796     0   29  4.142857     11  2018        3
14   1543452014796     0   29  4.142857     11  2018        3
15   1543452253796     0   29  4.142857     11  2018        3
16   1543452394796     0   29  4.142857     11  2018        3
17   1543452588796     0   29  4.142857     11  2018        3
18   1543453030796     0   29  4.142857     11  2018        3
19   1543453332796     1   29  4.142857     11  2018        3
20   1543453596796     1   29  4.142857     11  2018        3
21   1543453763796     1   29  4.142857     11  2018        3
22   1543453798796     1   29  4.142857     11  2018        3
23   1543454037796     1   29  4.142857     11  2018        3
24   1543454254796     1   29  4.142857     11  2018        3
25   1543454533796     1   29  4.142857     11  2018        3
26   1543454778796     1   29  4.142857     11  2018        3
27   1543455073796     1   29  4.142857     11  2018        3
28   1543455218796     1   29  4.142857     11  2018        3
29   1543455510796     1   29  4.142857     11  2018        3
..             ...   ...  ...       ...    ...   ...      ...
333  1543527047796    21   29  4.142857     11  2018        3
334  1543527094796    21   29  4.142857     11  2018        3
336  1543527265796    21   29  4.142857     11  2018        3
337  1543527268796    21   29  4.142857     11  2018        3
338  1543527488796    21   29  4.142857     11  2018        3
339  1543527730796    21   29  4.142857     11  2018        3
340  1543528009796    21   29  4.142857     11  2018        3
341  1543528377796    21   29  4.142857     11  2018        3
342  1543528636796    21   29  4.142857     11  2018        3
343  1543528831796    22   29  4.142857     11  2018        3
344  1543529196796    22   29  4.142857     11  2018        3
345  1543529397796    22   29  4.142857     11  2018        3
346  1543529417796    22   29  4.142857     11  2018        3
347  1543529595796    22   29  4.142857     11  2018        3
348  1543529618796    22   29  4.142857     11  2018        3
349  1543529858796    22   29  4.142857     11  2018        3
350  1543530091796    22   29  4.142857     11  2018        3
352  1543530451796    22   29  4.142857     11  2018        3
353  1543530769796    22   29  4.142857     11  2018        3
354  1543530944796    22   29  4.142857     11  2018        3
355  1543531178796    22   29  4.142857     11  2018        3
356  1543531372796    22   29  4.142857     11  2018        3
357  1543531583796    22   29  4.142857     11  2018        3
358  1543531827796    22   29  4.142857     11  2018        3
359  1543531878796    22   29  4.142857     11  2018        3
360  1543532012796    22   29  4.142857     11  2018        3
362  1543532242796    22   29  4.142857     11  2018        3
363  1543532525796    23   29  4.142857     11  2018        3
364  1543532713796    23   29  4.142857     11  2018        3
365  1543533515796    23   29  4.142857     11  2018        3

[319 rows x 7 columns]

In [19]:
time_df = pd.DataFrame(data=dff,columns=column_labels)
time_df['week'] = time_df['week'].apply(lambda x: int(x))
print(time_df.tail())

print(list(time_df.iloc[0]))

        start_time  hour  day  week  month  year  weekday
360  1543532012796    22   29     4     11  2018        3
362  1543532242796    22   29     4     11  2018        3
363  1543532525796    23   29     4     11  2018        3
364  1543532713796    23   29     4     11  2018        3
365  1543533515796    23   29     4     11  2018        3
[1543449657796, 0, 29, 4, 11, 2018, 3]

In [39]:
# tim.o.> test insering one record
cur.execute(time_table_insert, [1543449657, 0, 29, 4, 11, 2018, 3])
conn.commit()

In [20]:
print(type(time_df.iloc[0][0]))
time_df['start_time'] = time_df['start_time'].astype(np.longlong);
print(type(time_df.start_time[0]))

<class 'numpy.int64'>
<class 'numpy.int64'>

In [10]:
# tim.o.> test insering one record
cur.execute(time_table_insert, [1543449657796, 0, 29, 4, 11, 2018, 3])
conn.commit()

In [21]:
# tim.o.> test insering one record
cur.execute('SELECT * from information_schema.columns WHERE TABLE_NAME=\'time\';')
results = cur.fetchone()
print(results)

#conn.commit()

('sparkifydb', 'public', 'time', 'start_time', 1, None, 'YES', 'bigint', None, None, 64, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'sparkifydb', 'pg_catalog', 'int8', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, None, 'NEVER', None, 'YES')

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [21]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

In [27]:
import numpy as np
import datetime

def getTimeDF(df):
    # fromtimestamp does not handle millisecond, hence convert to seconds
    # revise microsecond attribute by adding the milliseconds part of the original timestamp
    t = df['ts'].apply(lambda x: datetime.datetime.fromtimestamp(x/1000.0).replace(microsecond=1000*(x%1000)))

    time_data = np.asarray([t.dt.hour, t.dt.day, 0,t.dt.month, t.dt.year, t.dt.weekday])
    column_labels = ('start_time','hour','day','week','month','year','weekday')

    # tim.o.> get values from dt['ts'] and index from dt
    df_tstamp = pd.DataFrame(data=df['ts'].values,index=df.index,columns=['start_time'])
    #print(df_tstamp)

    # tim.o.> use original index from t
    df_hours = pd.DataFrame(data=np.asarray(t.dt.hour),index=t.index,columns=['hour'])
    df_days = pd.DataFrame(data=np.asarray(t.dt.day),index=t.index,columns=['day'])
    df_wofyear = pd.DataFrame(data=np.asarray(t.dt.day/7),index=t.index,columns=['week'])
    df_wofyear['week'] = df_wofyear['week'].apply(lambda x: int(x))
    df_month = pd.DataFrame(data=np.asarray(t.dt.month),index=t.index,columns=['month'])
    df_year = pd.DataFrame(data=np.asarray(t.dt.year),index=t.index,columns=['year'])
    df_weekday = pd.DataFrame(data=np.asarray(t.dt.weekday),index=t.index,columns=['weekday'])

    dff = pd.concat([df_tstamp,df_hours, df_days,df_wofyear,df_month,df_year,df_weekday], join='outer', axis=1)
    #time_df = pd.DataFrame(data=dff,columns=column_labels)
    #time_df['week'] = time_df['week'].apply(lambda x: int(x))
    return dff

# Read 
log_files = get_files("./data/log_data")

# For each file 
for filepath in log_files:
    print('processing ',filepath)
    df = pd.read_json(filepath, lines=True)
    df = df[df['page']=='NextSong']
    time_df = getTimeDF(df) 
    for i, row in time_df.iterrows():
        try:
            #print(list(row))
            cur.execute(time_table_insert, list(row))
            conn.commit()
        except (Exception, psycopg2.Error) as error :
            if(conn):
                print("Failed to insert record into time table", error)
        finally:
            if(conn):
                conn.close()
            # tim.o.> reconnect
            conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
            cur = conn.cursor()

processing  /home/workspace/data/log_data/2018/11/2018-11-29-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-02-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-20-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-30-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-25-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-04-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-28-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-07-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-22-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-13-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-03-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-11-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-12-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-01-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-24-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-16-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-06-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-05-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-14-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-19-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-10-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-23-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-08-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-17-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-26-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-21-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-18-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-09-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-27-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-15-events.json

In [28]:
# Read 
log_files = get_files("./data/log_data")

# For each file 
for filepath in log_files:
    print('processing ',filepath)
    df = pd.read_json(filepath, lines=True)
    df = df[df['page']=='NextSong']
    
    # user data
    user_df = df[['userId','firstName','lastName','gender','level']]
    # tim.o.> test, remove duplicate records
    user_df = user_df.drop_duplicates()
    for i, row in user_df.iterrows():
        try:
            cur.execute(user_table_insert, list(row))
            conn.commit()
        except (Exception, psycopg2.Error) as error :
            if(conn):
                print("Failed to insert record into user table", error)
        finally:
            if(conn):
                conn.close()
            # tim.o.> reconnect
            conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
            cur = conn.cursor()

processing  /home/workspace/data/log_data/2018/11/2018-11-29-events.json
Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(73) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(24) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(50) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(54) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(32) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(4) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(52) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(14) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(98) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(101) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(78) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(10) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(49) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(16) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(26) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(79) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(82) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(44) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(75) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(39) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(80) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(55) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(12) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(9) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(22) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(74) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(89) already exists.

processing  /home/workspace/data/log_data/2018/11/2018-11-02-events.json
Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(101) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(89) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(80) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(44) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(49) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(26) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(75) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(50) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(10) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(54) already exists.

processing  /home/workspace/data/log_data/2018/11/2018-11-20-events.json
Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(32) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(86) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(15) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(26) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(54) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(83) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(44) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(100) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(49) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(10) already exists.

processing  /home/workspace/data/log_data/2018/11/2018-11-30-events.json
Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(73) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(86) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(24) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(26) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(49) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(74) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(88) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(12) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(61) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(85) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(50) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(101) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(16) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(78) already exists.

processing  /home/workspace/data/log_data/2018/11/2018-11-25-events.json
Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(9) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(49) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(78) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(48) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(14) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(80) already exists.

processing  /home/workspace/data/log_data/2018/11/2018-11-04-events.json
Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(43) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(6) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(25) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(51) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(44) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(16) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(32) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(10) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(37) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(78) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(74) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(100) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(69) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(33) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(80) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(73) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(83) already exists.

processing  /home/workspace/data/log_data/2018/11/2018-11-28-events.json
Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(80) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(92) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(74) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(55) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(58) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(9) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(82) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(50) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(76) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(100) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(101) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(57) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(69) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(60) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(33) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(6) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(63) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(89) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(17) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(96) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(32) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(37) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(14) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(26) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(49) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(24) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(88) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(73) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(39) already exists.

processing  /home/workspace/data/log_data/2018/11/2018-11-07-events.json
Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(97) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(63) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(8) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(9) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(89) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(50) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(101) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(14) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(10) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(100) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(80) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(86) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(66) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(44) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(15) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(29) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(26) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(33) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(52) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"
DETAIL:  Key (user_id)=(32) already exists.

Failed to insert record into user table duplicate key value violates unique constraint "users_pkey"

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [22]:
user_df = df[['userId','firstName','lastName','gender','level']]
user_df.head()
#print(user_df[0])

  userId firstName lastName gender level
0     73     Jacob    Klein      M  paid
1     24     Layla  Griffin      F  paid
2     24     Layla  Griffin      F  paid
3     73     Jacob    Klein      M  paid
4     24     Layla  Griffin      F  paid

In [23]:
# tim.o.> test, remove duplicate records
user_df = user_df.drop_duplicates()
for i, row in user_df.iterrows():
    print(list(row))
    if(row[0]==''):
        print('Empty User id')

['73', 'Jacob', 'Klein', 'M', 'paid']
['24', 'Layla', 'Griffin', 'F', 'paid']
['50', 'Ava', 'Robinson', 'F', 'free']
['54', 'Kaleb', 'Cook', 'M', 'free']
['32', 'Lily', 'Burns', 'F', 'free']
['4', 'Alivia', 'Terrell', 'F', 'free']
['52', 'Theodore', 'Smith', 'M', 'free']
['14', 'Theodore', 'Harris', 'M', 'free']
['98', 'Jordyn', 'Powell', 'F', 'free']
['101', 'Jayden', 'Fox', 'M', 'free']
['78', 'Chloe', 'Roth', 'F', 'free']
['10', 'Sylvie', 'Cruz', 'F', 'free']
['49', 'Chloe', 'Cuevas', 'F', 'paid']
['16', 'Rylan', 'George', 'M', 'paid']
['26', 'Ryan', 'Smith', 'M', 'free']
['79', 'James', 'Martin', 'M', 'free']
['82', 'Avery', 'Martinez', 'F', 'paid']
['44', 'Aleena', 'Kirby', 'F', 'paid']
['75', 'Joseph', 'Gutierrez', 'M', 'free']
['39', 'Walter', 'Frye', 'M', 'free']
['80', 'Tegan', 'Levine', 'F', 'paid']
['55', 'Martin', 'Johnson', 'M', 'free']
['12', 'Austin', 'Rosales', 'M', 'free']
['9', 'Wyatt', 'Scott', 'M', 'free']
['22', 'Sean', 'Wilson', 'F', 'free']
['74', 'Braden', 'Parker', 'M', 'free']
['89', 'Kynnedi', 'Sanchez', 'F', 'free']

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [24]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

In [9]:
# tim.o.> see whether we have the data
#
for index, row in df.iterrows():
    
    #print(row.song, row.artist,row.length)
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length,))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None
    print(songid, row.song, artistid,row.length)

None Ain't No Sunshine None 238.07955
None My Advice 2 You (Explicit) None 151.92771
None My First Kiss (Feat. Ke$ha) [Album Version] None 192.522
None The Girl and The Robot None 369.81506
None Too Shy None 223.55546
None Potential None 306.54649
None The Great Satan (What Would Satan Do Mix) None 186.69669
None The Screamer None 117.31546
None Knife Going In (Album Version) None 129.67138
None The Greatest View (Album Version) None 242.96444
None T.N.T. For The Brain (112 Bpm) (Radio Edit) None 242.78159
None Mon MÃÂ©tro None 278.12526
None Fly Like An Eagle None 254.06649
None Restless None 307.19955
None You're The One None 239.3073
None Blue None 141.92281
None Channel 10 None 194.82077
None The Oak Tree (Album Version) None 442.46159
None What If I Do? None 302.91546
None You're Not Alone None 264.12363
None En Glad Calypso Om VÃÂ¥ren (Live '62) None 202.39628
None Down_ Down_ Down To Mehphisto's Cafe (Album Version) None 303.33342
None Tu Eres Ajena None 239.67302
None Estadio Azteca None 217.5473
None Sleeper None 279.562
None Toxic None 245.18485
None Merry Go Round (Remastered Single Version) None 295.78404
None Square Peg Round Hole None 145.03138
None Eqypt None 292.362
None Make Her Say None 237.76608
None Nice Day For A Resurrection None 263.10485
None Sinisten tÃÂ¤htien alla None 336.74404
None Wade Through The Night None 171.17995
None My Axe None 233.82159
None It's Only Money None 214.59546
None Untrust us None 186.38322
None Full Throttle None 302.602
None Make Her Say None 237.76608
None Crazy In The Night (Barking At Airplanes) None 217.28608
None White Light/White Heat None 165.95546
None I Cried For You None 218.09587
None Chicken Hawk None 178.36363
None Breathe In None 277.34159
None What Goes Around...Comes Around None 313.0771
None Moondance (Album Version) None 253.88363
None Make Love To Your Mind None 383.73832
None Feel The Love None 267.54567
None s.Ada.Licht None 176.97914
None The Boss None 225.69751
None Turnin Me On None 247.77098
None Risque (Album Version) None 222.22322
None La Guitarra None 218.48771
None If I Were A Carpenter None 180.21832
None But The NUNS Are Watching None 206.39302
None Starvo None 373.7073
None Sorrow (1997 Digital Remaster) None 174.41914
None Won't Do None 232.46322
None In Cairo None 295.02649
None We Rock None 236.85179
None Nothing Better (Album) None 226.61179
None Something Out Of Nothing None 264.56771
None When You Look Me In The Eyes None 249.67791
None Cantalojas None 368.29995
None In My Daughter's Eyes None 193.802
None Smoke None 292.23138
None So far so long None 173.66159
None What A Shame (Album Version) None 258.97751
None Vanity Case (nouvelle version) None 205.322
None Hammerhead (Explicit) None 273.52771
None Hekura None 127.81669
None Candle None 299.10159
None Slow Dancing In A Burning Room None 241.99791
None Geek In The Pink (Album Version) None 235.49342
None Technologic None 283.19302
None Again None 184.89424
None Carol Brown None 206.8371
None Invalid None 233.69098
None Daylight None 266.16118
None Undercover Martyn None 168.09751
None Clear Channel (Fuck Off!) None 254.98077
None They Might Follow You None 210.23302
None The Climb None 236.85179
None Who Can Compare None 266.86649
None Somebody To Love None 220.89098
None Tiempo None 283.14077
None Happy Alone None 238.8371
None I Smell A Rat (LP Version) None 161.4624
None Kryptonite (Radio Edit) (feat. Big Boi) None 242.83383
None Old Blue Jeans None 202.03057
None Replay None 181.9424
None Aquamosh None 236.56444
None Be (Intro) None 144.16934
None I May Never Find None 275.1473
None Runaway (Original) None 217.80853
None Eric B. Is On The Cut None 224.23465
None A Woman's Love   (LP Version) None 174.62812
None Falling in Hate None 180.32281
None Desert Rose None 285.93587
None If I Cut My Hair_ Hawaii Will Sink (Album Version) None 143.20281
None I Wonder Why None 138.65751
None Prayin For Help (Amended Album Version) None 261.98159
None Sinister Kid None 224.49587
None Flume None 218.98404
None All The Right Moves None 237.97506
None Word Up None 263.52281
None Auditorium None 274.442
None Hallowed Be My Name None 236.01587
None I Am The Club (Explicit Album Version) None 223.65995
None Hearts Break None 198.76526
None Sugar Ray (LP Version) None 126.82404
None The Way I Loved You None 245.36771
None Inside My Love None 287.79057
None Comet Course None 181.52444
None Can't Take My Eyes Off You None 211.12118
None Elsewhere None 137.69098
None Hong Kong Blues None 138.23955
None You're The One None 239.3073
None Threat None 245.68118
None The Gift None 302.05342
None Idle Hands (Album Version) None 236.77342
None You're The One None 239.3073
None Wishing Well None 237.13914
None Here Without You None 237.13914
None Dry Spell None 285.02159
None Secrets None 224.67873
None Fuck and Run None 187.34975
None Far Away (Album Version) None 238.18404
None Girl I Love You None 326.60853
None Beat Goes On [Featuring Kanye West] (Album Version) None 266.89261
None Don't Walk Away None 227.83955
None Bone Machine None 184.2673
None Mi Marfil None 65.88036
None None Shall Pass (Main) None 245.65506
None With You None 182.17751
None To Go Beyond (II) None 179.90485
None Glitter In The Air None 227.02975
None Heartbeats None 158.48444
None Better Is One Day (Stereo Trax) None 405.10649
None Two Shoes None 316.65587
None Someday None 246.09914
None Interactive Halloween Bear None 229.14567
None Better Off Alone None 216.5024
None Next Evil None 200.202
None OMG None 395.72853
None Fighters (feat. Matthew Santos) (Amended Album Version) None 213.34159
None La Guitarra None 218.48771
None At Least It's Raining None 190.82404
None Breaking Inside (Album Version) None 229.43302
None The Moon Asked The Crow None 232.17587
None Pais E Filhos None 307.3824
None Word Up! None 211.98322
None Dreamer None 244.61016
None Born Losers None 319.16363
None January Wedding None 227.99628
None I'm Sorry None 141.5571
None The Fear None 206.65424
None Revelry None 201.79546
None I Know You Got Soul None 281.86077
None Hello None 248.2673
None Stella The Artist None 217.33832
None The Sweetest Taboo None 278.46485
None That's How You Like It None 219.19302
None Hey Shorty (Yeah Yeah Pt. II) (Feat. U$O & Johnson) None 195.47383
None I'll Never Kill Again None 300.56444
None Quiero Quererte Querer None 234.57914
None Is This It None 155.34975
None I Get Money None 223.89506
None (There Was A) Tall Oak Tree None 125.85751
None Horse With No Name None 262.89587
None VÃÂ­cio De Ti None 246.33424
None Solo Creo Lo Que Veo None 231.44444
None Sehnsucht None 244.40118
None Woman Like A Man None 284.29016
None Sequencer Mood 1 None 33.802
None Ooh None 209.34485
None Overture None 386.76853
None Save Tonight None 242.78159
None Move On Up (Extended LP Version) None 534.33424
None Death Rides a Horse None 346.20036
None Old Panda Days (w/ Nick Krgovich) None 139.41506
None I CAN'T GET STARTED None 497.13587
None No Remorse None 386.66404
None Wot None 338.72934
None Blues (2005 Digital Remaster) None 192.57424
None Invalid None 233.69098
None Harder Than You Know None 259.39546
None New Soul None 214.85669
None Weird Fishes/Arpeggi None 317.93587
None A Lack Of Color (Album Version) None 216.42404
None Sooner Than You Think None 313.62567
None You're The One None 239.3073
None Love My Shake None 409.05098
None Spit It Out [Explicit] None 159.76444
None Big Red None 225.25342
None Holy Roller Novocaine None 242.99057
None Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile) None 277.15873
None All My Friends None 259.26485
None No Puedo Evitar (Pensar En Ti) None 202.91873
None She Has A Girlfriend Now None 185.80853
None Burning Creation None 298.55302
None Back To You None 241.6322
None Don't Turn Your Back On Fear None 224.78322
None Ladybird None 278.07302
None Famous Blue Raincoat None 307.43465
None Take It Easy (love Nothing) (Album Version) None 200.72444
None Live Forever [Fly With Me] [feat. Daryl Hall] None 428.77342
None Promise Me None 219.34975
None Ringing Bells None 195.70893
None Droomland (duet met Paul de Leeuw) None 206.70649
None My Night With the Prostitute From Marseille None 185.15546
None This Is Beautiful None 275.80036
None Look What They Done To My Song_ Ma None 245.86404
None The Middle None 166.00771
None Taja's Lude (Interlude) None 26.90567
None Juramento None 202.86649
None The News None 146.25914
None Love Me Like A River Does None 245.83791
None Fireflies None 225.17506
None Mighty Joe Moon None 169.76934
None Karma Police None 261.45914
None Love And Treachery None 258.71628
None It's My Life None 224.522
None Country Road None 338.80771
None CanciÃÂ³n Triste None 301.71383
None Unknown Brother None 239.59465
None Kid A None 284.44689
None Almaz None 270.75873
None Almaz None 270.75873
None Born In Africa None 210.05016
None What You Know None 189.67465
None Head Full Of Doubt/Road Full Of Promise None 287.97342
None Hot Pursuit None 187.37587
None Pussywillow None 221.17832
None Don't Cry (Original) None 284.05506
None Kissing Behind The Rubbery Grinder None 46.05342
None Beyond The Beyond (Instrumental) None 237.53098
None Yum Yum (Gimme Some) None 315.66322
None Caixinha De MÃÂºsica Do JoÃÂ£o None 66.16771
None Mr. Sad None 197.17179
None A Lion's Heart None 197.40689
None Heaven Is A Truck None 149.83791
None Stronger None 311.92771
None ClichÃÂ© Guevara None 129.43628
None Imperial (LP Amended Version) None 384.10404
None Always and Forever None 324.8322
None Sehr kosmisch None 655.77751
None California Girls (Album Version) None 171.83302
None The Invisible Man None 301.06077
None Kaaos ei karkaa None 223.42485
None MC Material None 176.8224
None Faust Arp None 129.56689
None Droomland (duet met Paul de Leeuw) None 206.70649
None Savior None 242.25914
None Ostia None 186.5922
None Witness None 218.30485
None Crossfire None 244.94975
None Still None 310.69995
None So Far From The Truth None 277.89016
None Follow The Star None 265.50812
None You Dance None 237.58322
None Have A Nice Day None 228.85832
None La Boulette (GÃÂ©nÃÂ©ration Nan Nan) None 220.62975
None Blackest Eyes (Album Version) None 263.60118
None Once None 311.82322
None Kite None 177.05751
None Walking With Thee None 156.21179
None Darkshines [Live From Le Zenith] None 277.31546
None TÃÂº None 322.79465
None Sebrina_ Paste And Plato None 143.17669
None Bitter Sweet Symphony None 360.25424
None Lissoms None 133.85098
None Sample Track 2 None 195.83955
None Figure.09 (Album Version) None 197.51138
None The Wonderful Cross None 381.88363
None Teardrop None 329.53424
None This Afternoon (Album Version) None 274.65098
None O Canto Da Ema None 157.51791
None Heartbreak Warfare None 269.71383
None Waterfall None 294.81751
None TAVALLINEN TARINA None 207.75138
None Step To Me None 180.58404
None Only Time (Original Version) None 218.53995
None Still be Friends None 136.46322
None Non Saprai Mai None 282.01751
None Fireflies None 225.17506
None The Worst Taste In Music (Extended) None 193.72363
None War on war None 227.65669
None Despre tine None 226.16771
None Whataya Want From Me None 227.39546
None Red None 218.20036
None Damaged [Feat. Fabolous] None 247.74485
None Sulk None 223.00689
None The English Way None 212.61016
None To Be With You None 242.78159
None Poison Oak (Album Version) None 279.87546
None Grand Hotel None 368.56118
None Planet Telex None 259.29098
None SinceritÃÂ© Et Jalousie None 195.94404
None New Born None 365.45261
None 5_ 6_ 7_ 8 None 201.76934
None The Heart Of Life None 198.19057
None Revelry None 201.79546
None Draw The Line None 263.33995
None The Ugly One (AKA Lee Van Cleef) None 176.27383
None Invalid None 233.69098
None Cathar Rhythm None 200.56771
None The Queen of Nothing None 318.98077
None Good Time None 175.51628
None Figures None 234.57914
None Bone Broke None 194.48118
None Are You The Walrus? None 211.69587
None Amityville None 244.55791
None I'm Not Calling You A Liar None 185.3122
None Signos None 316.73424
None You Belong With Me None 230.47791
None Rearviewmirror None 283.89832
None Me So Horny None 188.31628
None Loco None 113.26649
None Midnight Groovin' (7" Version) (2006 Digital Remaster) None 207.0722

In [8]:
# tim.o.> see whether we have the data
#
def checkSongArtist(df):
    cnt = 0
    for index, row in df.iterrows():

        #print(row.song, row.artist,row.length)
        # get songid and artistid from song and artist tables
        cur.execute(song_select, (row.song, row.artist, row.length,))
        results = cur.fetchone()
    
        if results:
            songid, artistid = results
        else:
            songid, artistid = None, None
        #print(songid, row.song, artistid,row.length)
    print('Found',cnt,'matches!')

In [9]:
# Read 
log_files = get_files("./data/log_data")

# For each file 
for filepath in log_files:
    print('processing ',filepath)
    df = pd.read_json(filepath, lines=True)
    df = df[df['page']=='NextSong']
    checkSongArtist(df)

processing  /home/workspace/data/log_data/2018/11/2018-11-29-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-02-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-20-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-30-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-25-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-04-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-28-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-07-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-22-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-13-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-03-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-11-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-12-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-01-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-24-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-16-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-06-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-05-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-14-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-19-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-10-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-23-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-08-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-17-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-26-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-21-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-18-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-09-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-27-events.json
Found 0 matches!
processing  /home/workspace/data/log_data/2018/11/2018-11-15-events.json
Found 0 matches!

In [36]:
# tim.o.> check individual records
#
q_song = "Superconfidential"
q_song = "You Belong WIth Me" #"Ain't No Sunshine"
q_length = 207.0722
q_artist = ""

cur.execute('SELECT * FROM songs WHERE title LIKE %s;', (q_song,))
results = cur.fetchone() 
print(results)

None

In [38]:
for index, row in df.iterrows():

    print(row.song, '|', row.artist, '|', row.length)
    # get songid and artistid from song and artist tables
    #cur.execute(song_select, (row.song, row.artist, row.length,))
    cur.execute('SELECT * FROM songs WHERE title LIKE TRIM(%s);', (row.song,))
    results = cur.fetchone()
    
    if results:
        songid, aTitle, artistid = results
        print('Found [',row.song,'] id =[', songid,']')
    else:
        songid, aTitle, artistid = None, None, None
        print('Not Found [',row.song,'] ')

Ain't No Sunshine | Sydney Youngblood | 238.07955
Not Found [ Ain't No Sunshine ]
My Advice 2 You (Explicit) | Gang Starr | 151.92771
Not Found [ My Advice 2 You (Explicit) ]
My First Kiss (Feat. Ke$ha) [Album Version] | 3OH!3 | 192.522
Not Found [ My First Kiss (Feat. Ke$ha) [Album Version] ]
The Girl and The Robot | RÃÂ¶yksopp | 369.81506
Not Found [ The Girl and The Robot ]
Too Shy | Kajagoogoo | 223.55546
Not Found [ Too Shy ]
Potential | The Jimmy Castor Bunch | 306.54649
Not Found [ Potential ]
The Great Satan (What Would Satan Do Mix) | Ministry | 186.69669
Not Found [ The Great Satan (What Would Satan Do Mix) ]
The Screamer | Bouncing Souls | 117.31546
Not Found [ The Screamer ]
Knife Going In (Album Version) | Tegan And Sara | 129.67138
Not Found [ Knife Going In (Album Version) ]
The Greatest View (Album Version) | Silverchair | 242.96444
Not Found [ The Greatest View (Album Version) ]
T.N.T. For The Brain (112 Bpm) (Radio Edit) | Enigma | 242.78159
Not Found [ T.N.T. For The Brain (112 Bpm) (Radio Edit) ]
Mon MÃÂ©tro | Anis | 278.12526
Not Found [ Mon MÃÂ©tro ]
Fly Like An Eagle | Seal | 254.06649
Not Found [ Fly Like An Eagle ]
Restless | UNKLE Feat. Josh Homme | 307.19955
Not Found [ Restless ]
You're The One | Dwight Yoakam | 239.3073
Not Found [ You're The One ]
Blue | Elastica | 141.92281
Not Found [ Blue ]
Channel 10 | Capone-N-Noreaga | 194.82077
Not Found [ Channel 10 ]
The Oak Tree (Album Version) | Morris Day | 442.46159
Not Found [ The Oak Tree (Album Version) ]
What If I Do? | Foo Fighters | 302.91546
Not Found [ What If I Do? ]
You're Not Alone | Olive | 264.12363
Not Found [ You're Not Alone ]
En Glad Calypso Om VÃÂ¥ren (Live '62) | Olle Adolphson | 202.39628
Not Found [ En Glad Calypso Om VÃÂ¥ren (Live '62) ]
Down_ Down_ Down To Mehphisto's Cafe (Album Version) | Streetlight Manifesto | 303.33342
Not Found [ Down_ Down_ Down To Mehphisto's Cafe (Album Version) ]
Tu Eres Ajena | Frank Reyes | 239.67302
Not Found [ Tu Eres Ajena ]
Estadio Azteca | Andres Calamaro | 217.5473
Not Found [ Estadio Azteca ]
Sleeper | Zero 7 | 279.562
Not Found [ Sleeper ]
Toxic | Mark Ronson featuring Tiggers | 245.18485
Not Found [ Toxic ]
Merry Go Round (Remastered Single Version) | Keith Sweat | 295.78404
Not Found [ Merry Go Round (Remastered Single Version) ]
Square Peg Round Hole | Wakey!Wakey! | 145.03138
Not Found [ Square Peg Round Hole ]
Eqypt | The Mercury Program | 292.362
Not Found [ Eqypt ]
Make Her Say | Kid Cudi / Kanye West / Common | 237.76608
Not Found [ Make Her Say ]
Nice Day For A Resurrection | Nekromantix | 263.10485
Not Found [ Nice Day For A Resurrection ]
Sinisten tÃÂ¤htien alla | J. Karjalainen & Mustat Lasit | 336.74404
Not Found [ Sinisten tÃÂ¤htien alla ]
Wade Through The Night | Matt Wertz | 171.17995
Not Found [ Wade Through The Night ]
My Axe | Insane Clown Posse | 233.82159
Not Found [ My Axe ]
It's Only Money | Thin Lizzy | 214.59546
Not Found [ It's Only Money ]
Untrust us | Crystal Castles | 186.38322
Not Found [ Untrust us ]
Full Throttle | The Prodigy | 302.602
Not Found [ Full Throttle ]
Make Her Say | Kid Cudi / Kanye West / Common | 237.76608
Not Found [ Make Her Say ]
Crazy In The Night (Barking At Airplanes) | Kim Carnes | 217.28608
Not Found [ Crazy In The Night (Barking At Airplanes) ]
White Light/White Heat | The Velvet Underground | 165.95546
Not Found [ White Light/White Heat ]
I Cried For You | Katie Melua | 218.09587
Not Found [ I Cried For You ]
Chicken Hawk | Cedell Davis | 178.36363
Not Found [ Chicken Hawk ]
Breathe In | Frou Frou | 277.34159
Not Found [ Breathe In ]
What Goes Around...Comes Around | Justin Timberlake | 313.0771
Not Found [ What Goes Around...Comes Around ]
Moondance (Album Version) | Michael BublÃÂ© | 253.88363
Not Found [ Moondance (Album Version) ]
Make Love To Your Mind | Bill Withers | 383.73832
Not Found [ Make Love To Your Mind ]
Feel The Love | Cut Copy | 267.54567
Not Found [ Feel The Love ]
s.Ada.Licht | School Of Seven Bells | 176.97914
Not Found [ s.Ada.Licht ]
The Boss | Rick Ross / T-Pain | 225.69751
Not Found [ The Boss ]
Turnin Me On | Keri Hilson / Lil Wayne | 247.77098
Not Found [ Turnin Me On ]
Risque (Album Version) | Cute Is What We Aim For | 222.22322
Not Found [ Risque (Album Version) ]
La Guitarra | Los AutÃÂ©nticos Decadentes | 218.48771
Not Found [ La Guitarra ]
If I Were A Carpenter | June Carter Cash;Johnny Cash | 180.21832
Not Found [ If I Were A Carpenter ]
But The NUNS Are Watching | I Set My Friends On Fire | 206.39302
Not Found [ But The NUNS Are Watching ]
Starvo | King Cobb Steelie | 373.7073
Not Found [ Starvo ]
Sorrow (1997 Digital Remaster) | David Bowie | 174.41914
Not Found [ Sorrow (1997 Digital Remaster) ]
Won't Do | J Dilla | 232.46322
Not Found [ Won't Do ]
In Cairo | Hot Hot Heat | 295.02649
Not Found [ In Cairo ]
We Rock | Norther | 236.85179
Not Found [ We Rock ]
Nothing Better (Album) | Postal Service | 226.61179
Not Found [ Nothing Better (Album) ]
Something Out Of Nothing | 311 | 264.56771
Not Found [ Something Out Of Nothing ]
When You Look Me In The Eyes | Jonas Brothers | 249.67791
Not Found [ When You Look Me In The Eyes ]
Cantalojas | Platero Y Tu | 368.29995
Not Found [ Cantalojas ]
In My Daughter's Eyes | Martina McBride | 193.802
Not Found [ In My Daughter's Eyes ]
Smoke | Ben Folds Five | 292.23138
Not Found [ Smoke ]
So far so long | Seine | 173.66159
Not Found [ So far so long ]
What A Shame (Album Version) | Shinedown | 258.97751
Not Found [ What A Shame (Album Version) ]
Vanity Case (nouvelle version) | Iva | 205.322
Not Found [ Vanity Case (nouvelle version) ]
Hammerhead (Explicit) | Cathy Davey | 273.52771
Not Found [ Hammerhead (Explicit) ]
Hekura | Jorge Reyes Valencia | 127.81669
Not Found [ Hekura ]
Candle | Sonic Youth | 299.10159
Not Found [ Candle ]
Slow Dancing In A Burning Room | John Mayer | 241.99791
Not Found [ Slow Dancing In A Burning Room ]
Geek In The Pink (Album Version) | Jason Mraz | 235.49342
Not Found [ Geek In The Pink (Album Version) ]
Technologic | Daft Punk | 283.19302
Not Found [ Technologic ]
Again | Flyleaf | 184.89424
Not Found [ Again ]
Carol Brown | Flight Of The Conchords | 206.8371
Not Found [ Carol Brown ]
Invalid | Tub Ring | 233.69098
Not Found [ Invalid ]
Daylight | Aesop Rock | 266.16118
Not Found [ Daylight ]
Undercover Martyn | Two Door Cinema Club | 168.09751
Not Found [ Undercover Martyn ]
Clear Channel (Fuck Off!) | Leftover Crack | 254.98077
Not Found [ Clear Channel (Fuck Off!) ]
They Might Follow You | Tiny Vipers | 210.23302
Not Found [ They Might Follow You ]
The Climb | Miley Cyrus | 236.85179
Not Found [ The Climb ]
Who Can Compare | Foolish Things | 266.86649
Not Found [ Who Can Compare ]
Somebody To Love | Justin Bieber | 220.89098
Not Found [ Somebody To Love ]
Tiempo | Jarabe De Palo | 283.14077
Not Found [ Tiempo ]
Happy Alone | Kings Of Leon | 238.8371
Not Found [ Happy Alone ]
I Smell A Rat (LP Version) | Clarence Carter | 161.4624
Not Found [ I Smell A Rat (LP Version) ]
Kryptonite (Radio Edit) (feat. Big Boi) | Purple Ribbon All-Stars feat. Big Boi | 242.83383
Not Found [ Kryptonite (Radio Edit) (feat. Big Boi) ]
Old Blue Jeans | Hannah Montana | 202.03057
Not Found [ Old Blue Jeans ]
Replay | Iyaz | 181.9424
Not Found [ Replay ]
Aquamosh | Plastilina Mosh | 236.56444
Not Found [ Aquamosh ]
Be (Intro) | Common | 144.16934
Not Found [ Be (Intro) ]
I May Never Find | Chris Brown | 275.1473
Not Found [ I May Never Find ]
Runaway (Original) | iio | 217.80853
Not Found [ Runaway (Original) ]
Eric B. Is On The Cut | Eric B. & Rakim | 224.23465
Not Found [ Eric B. Is On The Cut ]
A Woman's Love   (LP Version) | Carla Thomas | 174.62812
Not Found [ A Woman's Love   (LP Version) ]
Falling in Hate | Five Finger Death Punch | 180.32281
Not Found [ Falling in Hate ]
Desert Rose | Sting | 285.93587
Not Found [ Desert Rose ]
If I Cut My Hair_ Hawaii Will Sink (Album Version) | Chiodos | 143.20281
Not Found [ If I Cut My Hair_ Hawaii Will Sink (Album Version) ]
I Wonder Why | Dion & The Belmonts | 138.65751
Not Found [ I Wonder Why ]
Prayin For Help (Amended Album Version) | T.I. | 261.98159
Not Found [ Prayin For Help (Amended Album Version) ]
Sinister Kid | The Black Keys | 224.49587
Not Found [ Sinister Kid ]
Flume | Bon Iver | 218.98404
Not Found [ Flume ]
All The Right Moves | OneRepublic | 237.97506
Not Found [ All The Right Moves ]
Word Up | Cameo | 263.52281
Not Found [ Word Up ]
Auditorium | Mos Def / Slick Rick | 274.442
Not Found [ Auditorium ]
Hallowed Be My Name | HAMMERFALL | 236.01587
Not Found [ Hallowed Be My Name ]
I Am The Club (Explicit Album Version) | Plies | 223.65995
Not Found [ I Am The Club (Explicit Album Version) ]
Hearts Break | Slaid Cleaves | 198.76526
Not Found [ Hearts Break ]
Sugar Ray (LP Version) | Todd Barry | 126.82404
Not Found [ Sugar Ray (LP Version) ]
The Way I Loved You | Taylor Swift | 245.36771
Not Found [ The Way I Loved You ]
Inside My Love | Minnie Riperton | 287.79057
Not Found [ Inside My Love ]
Comet Course | Flying Lotus | 181.52444
Not Found [ Comet Course ]
Can't Take My Eyes Off You | Muse | 211.12118
Not Found [ Can't Take My Eyes Off You ]
Elsewhere | Edenbridge | 137.69098
Not Found [ Elsewhere ]
Hong Kong Blues | Frank Ifield | 138.23955
Not Found [ Hong Kong Blues ]
You're The One | Dwight Yoakam | 239.3073
Not Found [ You're The One ]
Threat | Jay-Z | 245.68118
Not Found [ Threat ]
The Gift | Angels and Airwaves | 302.05342
Not Found [ The Gift ]
Idle Hands (Album Version) | Stone Sour | 236.77342
Not Found [ Idle Hands (Album Version) ]
You're The One | Dwight Yoakam | 239.3073
Not Found [ You're The One ]
Wishing Well | The Airborne Toxic Event | 237.13914
Not Found [ Wishing Well ]
Here Without You | 3 Doors Down | 237.13914
Not Found [ Here Without You ]
Dry Spell | Hazmat Modine | 285.02159
Not Found [ Dry Spell ]
Secrets | OneRepublic | 224.67873
Not Found [ Secrets ]
Fuck and Run | Liz Phair | 187.34975
Not Found [ Fuck and Run ]
Far Away (Album Version) | Nickelback | 238.18404
Not Found [ Far Away (Album Version) ]
Girl I Love You | Massive Attack | 326.60853
Not Found [ Girl I Love You ]
Beat Goes On [Featuring Kanye West] (Album Version) | Madonna | 266.89261
Not Found [ Beat Goes On [Featuring Kanye West] (Album Version) ]
Don't Walk Away | Sick Puppies | 227.83955
Not Found [ Don't Walk Away ]
Bone Machine | Pixies | 184.2673
Not Found [ Bone Machine ]
Mi Marfil | Andres Calamaro | 65.88036
Not Found [ Mi Marfil ]
None Shall Pass (Main) | Aesop Rock | 245.65506
Not Found [ None Shall Pass (Main) ]
With You | The Subways | 182.17751
Not Found [ With You ]
To Go Beyond (II) | Enya | 179.90485
Not Found [ To Go Beyond (II) ]
Glitter In The Air | P!nk | 227.02975
Not Found [ Glitter In The Air ]
Heartbeats | JosÃÂ© Gonzalez | 158.48444
Not Found [ Heartbeats ]
Better Is One Day (Stereo Trax) | Passion | 405.10649
Not Found [ Better Is One Day (Stereo Trax) ]
Two Shoes | The Cat Empire | 316.65587
Not Found [ Two Shoes ]
Someday | Mariah Carey | 246.09914
Not Found [ Someday ]
Interactive Halloween Bear | Restiform Bodies | 229.14567
Not Found [ Interactive Halloween Bear ]
Better Off Alone | Alice Deejay | 216.5024
Not Found [ Better Off Alone ]
Next Evil | Interpol | 200.202
Not Found [ Next Evil ]
OMG | Usher featuring will.i.am | 395.72853
Not Found [ OMG ]
Fighters (feat. Matthew Santos) (Amended Album Version) | Lupe Fiasco feat. Matthew Santos | 213.34159
Not Found [ Fighters (feat. Matthew Santos) (Amended Album Version) ]
La Guitarra | Los AutÃÂ©nticos Decadentes | 218.48771
Not Found [ La Guitarra ]
At Least It's Raining | Brand New Disaster | 190.82404
Not Found [ At Least It's Raining ]
Breaking Inside (Album Version) | Shinedown | 229.43302
Not Found [ Breaking Inside (Album Version) ]
The Moon Asked The Crow | Cocorosie | 232.17587
Not Found [ The Moon Asked The Crow ]
Pais E Filhos | LegiÃÂ£o Urbana | 307.3824
Not Found [ Pais E Filhos ]
Word Up! | Cameo | 211.98322
Not Found [ Word Up! ]
Dreamer | Atmosphere | 244.61016
Not Found [ Dreamer ]
Born Losers | Matthew Good | 319.16363
Not Found [ Born Losers ]
January Wedding | The Avett Brothers | 227.99628
Not Found [ January Wedding ]
I'm Sorry | James Newton Howard | 141.5571
Not Found [ I'm Sorry ]
The Fear | Lily Allen | 206.65424
Not Found [ The Fear ]
Revelry | Kings Of Leon | 201.79546
Not Found [ Revelry ]
I Know You Got Soul | Eric B. & Rakim | 281.86077
Not Found [ I Know You Got Soul ]
Hello | Eminem | 248.2673
Not Found [ Hello ]
Stella The Artist | David Gray | 217.33832
Not Found [ Stella The Artist ]
The Sweetest Taboo | Sade | 278.46485
Not Found [ The Sweetest Taboo ]
That's How You Like It | BeyoncÃÂ© feat. Jay-Z | 219.19302
Not Found [ That's How You Like It ]
Hey Shorty (Yeah Yeah Pt. II) (Feat. U$O & Johnson) | Kato | 195.47383
Not Found [ Hey Shorty (Yeah Yeah Pt. II) (Feat. U$O & Johnson) ]
I'll Never Kill Again | Wise Intelligent | 300.56444
Not Found [ I'll Never Kill Again ]
Quiero Quererte Querer | El Arrebato | 234.57914
Not Found [ Quiero Quererte Querer ]
Is This It | The Strokes | 155.34975
Not Found [ Is This It ]
I Get Money | 50 Cent | 223.89506
Not Found [ I Get Money ]
(There Was A) Tall Oak Tree | Dorsey Burnette | 125.85751
Not Found [ (There Was A) Tall Oak Tree ]
Horse With No Name | America | 262.89587
Not Found [ Horse With No Name ]
VÃÂ­cio De Ti | Mesa (Portuguese Group) | 246.33424
Not Found [ VÃÂ­cio De Ti ]
Solo Creo Lo Que Veo | Alaska Y Dinarama | 231.44444
Not Found [ Solo Creo Lo Que Veo ]
Sehnsucht | Rammstein | 244.40118
Not Found [ Sehnsucht ]
Woman Like A Man | Damien Rice | 284.29016
Not Found [ Woman Like A Man ]
Sequencer Mood 1 | Vittorio Lue | 33.802
Not Found [ Sequencer Mood 1 ]
Ooh | Scissor Sisters | 209.34485
Not Found [ Ooh ]
Overture | The Coffee Club Orchestra | 386.76853
Not Found [ Overture ]
Save Tonight | Eagle-Eye Cherry | 242.78159
Not Found [ Save Tonight ]
Move On Up (Extended LP Version) | Curtis Mayfield | 534.33424
Not Found [ Move On Up (Extended LP Version) ]
Death Rides a Horse | Russian Circles | 346.20036
Not Found [ Death Rides a Horse ]
Old Panda Days (w/ Nick Krgovich) | Casiotone For The Painfully Alone | 139.41506
Not Found [ Old Panda Days (w/ Nick Krgovich) ]
I CAN'T GET STARTED | Ron Carter | 497.13587
Not Found [ I CAN'T GET STARTED ]
No Remorse | Metallica | 386.66404
Not Found [ No Remorse ]
Wot | Captain Sensible | 338.72934
Not Found [ Wot ]
Blues (2005 Digital Remaster) | Renato Carosone | 192.57424
Not Found [ Blues (2005 Digital Remaster) ]
Invalid | Tub Ring | 233.69098
Not Found [ Invalid ]
Harder Than You Know | Escape The Fate | 259.39546
Not Found [ Harder Than You Know ]
New Soul | Yael NaÃÂ¯m | 214.85669
Not Found [ New Soul ]
Weird Fishes/Arpeggi | Radiohead | 317.93587
Not Found [ Weird Fishes/Arpeggi ]
A Lack Of Color (Album Version) | Death Cab for Cutie | 216.42404
Not Found [ A Lack Of Color (Album Version) ]
Sooner Than You Think | New Order | 313.62567
Not Found [ Sooner Than You Think ]
You're The One | Dwight Yoakam | 239.3073
Not Found [ You're The One ]
Love My Shake | Fukkk Offf | 409.05098
Not Found [ Love My Shake ]
Spit It Out [Explicit] | Slipknot | 159.76444
Not Found [ Spit It Out [Explicit] ]
Big Red | Slaves To Gravity | 225.25342
Not Found [ Big Red ]
Holy Roller Novocaine | Kings Of Leon | 242.99057
Not Found [ Holy Roller Novocaine ]
Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile) | Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner | 277.15873
Not Found [ Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile) ]
All My Friends | Amos Lee | 259.26485
Not Found [ All My Friends ]
No Puedo Evitar (Pensar En Ti) | Duncan Dhu | 202.91873
Not Found [ No Puedo Evitar (Pensar En Ti) ]
She Has A Girlfriend Now | Reel Big Fish | 185.80853
Not Found [ She Has A Girlfriend Now ]
Burning Creation | Amon Amarth | 298.55302
Not Found [ Burning Creation ]
Back To You | John Mayer | 241.6322
Not Found [ Back To You ]
Don't Turn Your Back On Fear | The 69 Eyes | 224.78322
Not Found [ Don't Turn Your Back On Fear ]
Ladybird | Ladytron | 278.07302
Not Found [ Ladybird ]
Famous Blue Raincoat | Leonard Cohen | 307.43465
Not Found [ Famous Blue Raincoat ]
Take It Easy (love Nothing) (Album Version) | Bright Eyes | 200.72444
Not Found [ Take It Easy (love Nothing) (Album Version) ]
Live Forever [Fly With Me] [feat. Daryl Hall] | Gym Class Heroes | 428.77342
Not Found [ Live Forever [Fly With Me] [feat. Daryl Hall] ]
Promise Me | Beverley Craven | 219.34975
Not Found [ Promise Me ]
Ringing Bells | Masta Killa | 195.70893
Not Found [ Ringing Bells ]
Droomland (duet met Paul de Leeuw) | Andre Hazes | 206.70649
Not Found [ Droomland (duet met Paul de Leeuw) ]
My Night With the Prostitute From Marseille | Beirut | 185.15546
Not Found [ My Night With the Prostitute From Marseille ]
This Is Beautiful | Tyrone Wells | 275.80036
Not Found [ This Is Beautiful ]
Look What They Done To My Song_ Ma | Melanie | 245.86404
Not Found [ Look What They Done To My Song_ Ma ]
The Middle | Jimmy Eat World | 166.00771
Not Found [ The Middle ]
Taja's Lude (Interlude) | Blackstreet | 26.90567
Not Found [ Taja's Lude (Interlude) ]
Juramento | Omara Portuondo | 202.86649
Not Found [ Juramento ]
The News | Jack Johnson | 146.25914
Not Found [ The News ]
Love Me Like A River Does | Melody Gardot | 245.83791
Not Found [ Love Me Like A River Does ]
Fireflies | Charttraxx Karaoke | 225.17506
Not Found [ Fireflies ]
Mighty Joe Moon | Grant Lee Buffalo | 169.76934
Not Found [ Mighty Joe Moon ]
Karma Police | Radiohead | 261.45914
Not Found [ Karma Police ]
Love And Treachery | Madeleine Peyroux | 258.71628
Not Found [ Love And Treachery ]
It's My Life | Bon Jovi | 224.522
Not Found [ It's My Life ]
Country Road | James Taylor | 338.80771
Not Found [ Country Road ]
CanciÃÂ³n Triste | Jesse Cook | 301.71383
Not Found [ CanciÃÂ³n Triste ]
Unknown Brother | The Black Keys | 239.59465
Not Found [ Unknown Brother ]
Kid A | Radiohead | 284.44689
Not Found [ Kid A ]
Almaz | Randy Crawford | 270.75873
Not Found [ Almaz ]
Almaz | Randy Crawford | 270.75873
Not Found [ Almaz ]
Born In Africa | Dr. Alban | 210.05016
Not Found [ Born In Africa ]
What You Know | Two Door Cinema Club | 189.67465
Not Found [ What You Know ]
Head Full Of Doubt/Road Full Of Promise | The Avett Brothers | 287.97342
Not Found [ Head Full Of Doubt/Road Full Of Promise ]
Hot Pursuit | The Bravery | 187.37587
Not Found [ Hot Pursuit ]
Pussywillow | Greg Dulli | 221.17832
Not Found [ Pussywillow ]
Don't Cry (Original) | Guns N' Roses | 284.05506
Not Found [ Don't Cry (Original) ]
Kissing Behind The Rubbery Grinder | Major Organ And The Adding Machine | 46.05342
Not Found [ Kissing Behind The Rubbery Grinder ]
Beyond The Beyond (Instrumental) | RJD2 | 237.53098
Not Found [ Beyond The Beyond (Instrumental) ]
Yum Yum (Gimme Some) | Fatback | 315.66322
Not Found [ Yum Yum (Gimme Some) ]
Caixinha De MÃÂºsica Do JoÃÂ£o | Secos And Molhados | 66.16771
Not Found [ Caixinha De MÃÂºsica Do JoÃÂ£o ]
Mr. Sad | Marc Almond | 197.17179
Not Found [ Mr. Sad ]
A Lion's Heart | The Tallest Man On Earth | 197.40689
Not Found [ A Lion's Heart ]
Heaven Is A Truck | Pavement | 149.83791
Not Found [ Heaven Is A Truck ]
Stronger | Kanye West | 311.92771
Not Found [ Stronger ]
ClichÃÂ© Guevara | Against Me! | 129.43628
Not Found [ ClichÃÂ© Guevara ]
Imperial (LP Amended Version) | Rah Digga | 384.10404
Not Found [ Imperial (LP Amended Version) ]
Always and Forever | Pat Metheny Group | 324.8322
Not Found [ Always and Forever ]
Sehr kosmisch | Harmonia | 655.77751
Not Found [ Sehr kosmisch ]
California Girls (Album Version) | David Lee Roth | 171.83302
Not Found [ California Girls (Album Version) ]
The Invisible Man | Michael Cretu | 301.06077
Not Found [ The Invisible Man ]
Kaaos ei karkaa | Haloo Helsinki! | 223.42485
Not Found [ Kaaos ei karkaa ]
MC Material | Chali 2na | 176.8224
Not Found [ MC Material ]

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [16]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length,))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
    # INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
    # VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
    songplay_data = (row.ts, row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent,)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

InterfaceError: cursor already closed

In [4]:
def insertSongplay(df,cnt):
    for index, row in df.iterrows():

        # get songid and artistid from song and artist tables
        cur.execute(song_select, (row.song, row.artist, row.length,))
        results = cur.fetchone()
    
        if results:
            songid, artistid = results
        else:
            songid, artistid = None, None

        # insert songplay record
        cnt += 1
        # INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
        # VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
        songplay_data = (cnt, row.ts, row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent,)
        cur.execute(songplay_table_insert, songplay_data)
        conn.commit()
        
    return cnt

In [5]:
# Read 
log_files = get_files("./data/log_data")
cnt = 1
# For each file 
for filepath in log_files:
    print('processing ',filepath)
    df = pd.read_json(filepath, lines=True)
    df = df[df['page']=='NextSong']
    # get cnt as select max(songplay_id) from songplays
    cnt = insertSongplay(df,cnt)

processing  /home/workspace/data/log_data/2018/11/2018-11-29-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-02-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-20-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-30-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-25-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-04-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-28-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-07-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-22-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-13-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-03-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-11-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-12-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-01-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-24-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-16-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-06-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-05-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-14-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-19-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-10-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-23-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-08-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-17-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-26-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-21-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-18-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-09-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-27-events.json
processing  /home/workspace/data/log_data/2018/11/2018-11-15-events.json

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [6]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.